.jumbotron.people
  background-image url("/img/people.jpg")
  background-position center

.jumbotron.computer-lab
  background-image url("/img/computer-lab.jpg")
  background-position center

.jumbotron.enterpreneur
  background-image url("/img/enterpreneur.jpg")
  background-position center

.top-thick-border
  border-top 4px solid #000

.light-purple-top
  border-top 4px solid rgb(177, 178, 215)

.light-red-top
  border-top 4px solid rgb(238, 98, 105)

.light-green-top
  border-top 4px solid rgb(134, 208, 93)

.padding-top
  padding-top .5em

.spacer-s
  height 10px

.larger-text
  font-size 1.4em