.jumbotron.people
  background-image url("/img/people.jpg")
  background-position center

.jumbotron.computer-lab
  background-image url("/img/computer-lab.jpg")
  background-position center

.jumbotron.enterpreneur
  background-image url("/img/enterpreneur.jpg")
  background-position center

.top-thick-border
  border-top 3px solid #000

.light-purple-top
  background: linear-gradient(to bottom, rgba(177,178,215,1) 0%,rgba(183,184,218,0) 8%,rgba(255,255,255,0) 100%);

.light-red-top
  background: linear-gradient(to bottom, rgba(238,98,105,1) 0%,rgba(239,111,117,0) 8%,rgba(255,255,255,0) 100%);

.light-green-top
  background: linear-gradient(to bottom, rgba(134,208,93,1) 0%,rgba(144,212,106,0) 8%,rgba(255,255,255,0) 100%);

.padding-top
  padding-top .5em