.jumbotron.people {
  background-image: url("/img/people.jpg");
  background-position: center;
}
.jumbotron.computer-lab {
  background-image: url("/img/computer-lab.jpg");
  background-position: center;
}
.jumbotron.enterpreneur {
  background-image: url("/img/enterpreneur.jpg");
  background-position: center;
}
.jumbotron.happy {
  background-image: url("/img/happy.jpg");
  background-position: center;
}
.jumbotron.circuit {
  background-image: url("/img/circuit.jpg");
  background-position: center;
}
.top-thick-border {
  border-top: 4px solid #000;
}
.light-purple-top {
  border-top: 4px solid #b1b2d7;
}
.light-red-top {
  border-top: 4px solid #ee6269;
}
.light-green-top {
  border-top: 4px solid #86d05d;
}
.padding-top {
  padding-top: 0.5em;
}
.less-space-top {
  padding-top: 0.1em;
  margin-top: 0.1em;
}
.spacer-s {
  height: 10px;
}
.larger-text {
  font-size: 1.4em;
}
.slightly-larger-text {
  font-size: 1.2em;
}
.zero-margin-padding {
  padding: 0;
  margin: 0;
}
.small-margin-bottom {
  margin-bottom: 5px;
}
