.jumbotron.people {
  background-image: url("/img/people.jpg");
  background-position: center;
}
.jumbotron.computer-lab {
  background-image: url("/img/computer-lab.jpg");
  background-position: center;
}
.jumbotron.enterpreneur {
  background-image: url("/img/enterpreneur.jpg");
  background-position: center;
}
.top-thick-border {
  border-top: 4px solid #000;
}
.light-purple-top {
  border-top: 4px solid #b1b2d7;
}
.light-red-top {
  border-top: 4px solid #ee6269;
}
.light-green-top {
  border-top: 4px solid #86d05d;
}
.padding-top {
  padding-top: 0.5em;
}
.spacer-s {
  height: 10px;
}
