| ---
| layout: default
| title: Sinfonia Solutions - Contact Us
| ---
| &nbsp

.container
  .row
    .col-xs-8.col-xs-offset-2
      h2.text-center You're just an email away from IT bliss.
      h4.text-center Send us a message below, or email us.
      h4.text-center: a(href="mailto:cseebach@sinfoniasolutions.com") cseebach@sinfoniasolutions.com
      a(id="foxyform_embed_link_552908", href="http://www.foxyform.com/") foxyform
      script.
        (function(d, t){
        var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
        g.src = "http://www.foxyform.com/js.php?id=552908&sec_hash=36956c2f69e&width=100%";
        s.parentNode.insertBefore(g, s);
        }(document, "script"));
