| ---
| layout: default
| title: Flat Rate IT Support and Consulting
| ---
| &nbsp

.container
  .row
    .col-sm-8
      h1 Flat Rate IT Support
      h2 Our Prices

    .col-sm-4
      .top-thick-border
        .light-red-top
          h3: em What Does a Flat Rate Get Me?
          p The flat rate doesn't limit the number of hours per month - we work to meet your goals.
          p If your goals aren't being met, we know that you'll choose somebody else for your IT services.
          p Want some concrete examples?
            a  We produce an <em>extremely</em> large set of work products that your business can use.
