| ---
| layout: default
| title: Sinfonia Solutions - IT Consulting
| ---
| &nbsp

.container
  .jumbotron.people
    h4 The Sinfonia Solutions Philosophy:
    h1 People Matter.
    p Serving people is more important than serving computers.
      strong  Get in on the biggest secret in IT Management.
    p: a.btn.btn-primary.btn-lg(role="button") Learn more
  .row
    .col-sm-4
      .top-thick-border.light-green-top
        h3 Does Your IT Support Stack Up?
        p Take the quiz and find out.
        p: a.btn.btn-primary(href="/quiz.html", role="button") Take the Quiz
    .col-sm-4
      .top-thick-border.light-red-top
        h3 Hire Sinfonia Solutions
        p Enjoy a low flat rate. Alternatively, find out about our enterpreneurial pricing.
        p: a.btn.btn-primary(href="/pricing.html", role="button") Our Pricing
    .col-sm-4
      .top-thick-border.light-purple-top
        h3 Get the Book
        p Read an excerpt from <em>People Matter</em>.
        p: a.btn.btn-primary(role="button") The Book
  .row
    .col-xs-12
      .top-thick-border
        h3 Latest Blog Posts
        ul
          | {% for post in site.posts %}
          li: a(href="{{ post.url }}") {{ post.title }}
          | {% endfor %}