| ---
| layout: default
| title: Sinfonia Solutions - IT Support where People Matter
| ---
| &nbsp

.container
  h3.less-space-top Sinfonia Solutions, LLC
  .jumbotron.happy
    h1.text-center People > Computers
    h2.text-center Get in on the biggest secret in IT Administration.
  .row
    .col-sm-4
      .top-thick-border
        .light-green-top
          h3 Does Your IT Support Stack Up?
          p Take the quiz and find out.
          p: a.btn.btn-primary(href="/quiz.html", role="button") Take the Quiz
    .col-sm-4
      .top-thick-border
        .light-red-top
          h3 Hire Sinfonia Solutions
          p Enjoy a low flat rate. Alternatively, find out about our enterpreneurial pricing.
          p: a.btn.btn-primary(href="/pricing.html", role="button") Our Pricing
    .col-sm-4
      .top-thick-border
        .light-purple-top
          h3 Get the Book
          p Read an excerpt from <em>People Matter</em>.
          p: a.btn.btn-primary(href="/book.html", role="button") The Book
  .row
    .col-xs-12
      h2 Latest Blog Posts:
  .row
    | {% for post in site.posts limit:8 %}
    .col-sm-3.col-xs-6
      .top-thick-border
        p {{post.date | date_to_long_string}}
        h4.less-space-top {{ post.title }}
        p {{ post.description }}
        a(href="{{ post.url }}") Read More
        .spacer-s
    | {% endfor %}