| ---
| layout: default
| title: Prices for Flat Rate IT Consulting
| ---
| &nbsp

.container
  .jumbotron.computer-lab
    h1 Flat Rate Pricing
    h2 IT doesn't have to be surprisingly expensive.
    p.
      With Sinfonia Solutions, you get a low flat rate based on organization size and 30 days free.
    p: a.btn.btn-primary.btn-lg(role="button") Get a Quote
  h1.text-center &mdash; OR &mdash;
  .jumbotron.enterpreneur
    h1 Enterpreneurial Pricing
    h2 Starting from scratch doesn't have to mean doing it all yourself.
    p.
      Good IT support can allow your business to soar. Let's partner.
    p: a.btn.btn-primary.btn-lg(role="button") See Pricing Factors and Apply

